#footballHeader {
    color: #fff;
}
#footballNextGame {
    font-size: 20px;
    color: #fff;
}
#footballDiv {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 185px !important;
}
#footballTableDiv {
    height: 160px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    display: none;
}

.football-table-header .table-condensed{
  margin-bottom: 0px;
}
