<div class="col-sm-6" ng-controller="footballController">
    <div id="footballDiv1" ng-hide="!leagueTableData" class="animated zoomIn">
        <table id="footballTable" class="table table-condensed">
            <thead id="footballHeader" fix-head>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th class="text-center">GP</th>
                    <th class="text-center">GD</th>
                    <th class="text-center">Pts</th>
                </tr>
            </thead>
            <tbody id="footballTableBody">
                <tr id="team{{$index}}" ng-repeat="team in leagueTableData.standing" ng-click="rowClick(team, $index)" ng-class="getCSSClass(team)">
                    <td>{{$index + 1}}</td>
                    <td>{{team.teamName}}</td>
                    <td class="thin text-center">{{team.playedGames}}</td>
                    <td class="thin text-center">{{team.goalDifference}}</td>
                    <td class="thin text-center">{{team.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>

    <div id="footballNextGame" class="col-sm-12" ng-hide="!currentTeam">
      <img src="{{currentTeam.crestURI}}"  width="30" height="30"> {{fixtureStatus}}
    </div>
</div>
