<div class="col-sm-6" ng-controller="footballController">
    <div id="footballDiv1" ng-hide="!leagueTableData">
        <table id="footballTable" class="table table-condensed">
            <thead id="footballHeader">
                <tr style="text-center">
                    <th></th>
                    <th>Team</th>
                    <th >Pts</th>
                    <th >GD</th>
                    <th >W</th>
                    <th>D</th>
                    <th>L</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in leagueTableData.standing" ng-click="rowClick(team)" ng-class="selected(team)">
                    <th>{{team.position}}</th>
                    <th>{{team.teamName}}</th>
                    <th class="thin text-center">{{team.points}}</th>
                    <th class="thin text-center">{{team.goalDifference}}</th>
                    <th class="thin text-center">{{team.wins}}</th>
                    <th class="thin text-center">{{team.draws}}</th>
                    <th class="thin text-center">{{team.losses}}</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div>

    <div id="footballNextGame" class="col-sm-12" ng-hide="!currentTeam">
      <img src="{{currentTeam.crestURI}}"  width="30" height="30"> {{fixtureStatus}}
    </div>
</div>
