{
  "city": "",
  "country": "",
  "address": {
    "startingAddress": "",
    "destinationAddress": ""
  },
  "APIkeys": {
    "weatherAPIkey": "",
    "footballAPIkey": "",
    "googleMapsAPIkey": ""
  }
}