<a href="#/" class="link">
    <div class="row">
        <table class="table table-condensed">
            <thead>
                <tr class="row bright">
                    <th></th>
                    <th class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday |limitTo: 5">
                        {{forecast.date.weekday_short}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-md-2 text-center">Conditions</td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.conditions}}
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center">High</td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.high.celsius}}
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center">Low</td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.low.celsius}}
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center">% Precip</td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.pop}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</a>
