<div class="col-sm-6 text-center" ng-controller="weatherController">
    <div ng-hide="!currentWeatherData || !forecastSentence">
        <div class="row">
            <span id="weatherCity">{{ currentWeatherData.name }}:</span>
            <span id="weatherTemperature">{{currentWeatherData.main.temp| number:0}}<sup id="weatherSymbol">&#8451</sup></span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="weatherCondition">{{ currentWeatherData.weather[0].description }}</div>
                <div class="row">{{forecastSentence}}</div>
            </div>
        </div>
    </div>
</div>
