<footer>
  <div class="footer">
    <div class="navbar navbar-fixed-bottom" ng-controller="NavigationController">
      <div class="row">
        <div class="col-sm-6">
          <button type="button" ng-click="navigate('left')" class="nav-button pull-left"><i class="fa fa-arrow-left"></i></button>
        </div>
        <div class="col-sm-6">
          <button type="button" ng-click="navigate('right')" class="nav-button pull-right"><i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</footer>
