<footer>
    <div class="col-sm-12 animated zoomIn footer navbar navbar-fixed-bottom" ng-controller="navigationController">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" ng-click="navigate('left')" class="btn btn-outline btn-lg pull-left"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="col-sm-6">
                <button type="button" ng-click="navigate('right')" class="btn btn-outline btn-lg pull-right"><i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</footer>
