[Unit]
Description=Ambient Light Measure Service

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/light_monitor.py -i

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target