[Unit]
Description=Ambient Light Measure Service

[Service]
Type=simple
ExecStart=/home/pi/pi-notification-app/lightmonitor/venv/bin/python2.7 /home/pi/pi-notification-app/lightmonitor/light_monitor.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target