<a href="#/" class="link" ng-hide="!forecastWeatherData">
    <div class="row">
        <table class="table table-condensed medium">
            <thead>
                <tr class="row bright">
                    <th></th>
                    <th class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday |limitTo: 5">
                        {{forecast.date.weekday_short}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-md-2 text-center"></td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        <i ng-class="'wi ' + getWeatherIcon(forecast.icon)"></i>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center"><i class="wi wi-direction-up"></i></td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.high.celsius}}<i class="wi wi-degrees"></i></td>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center"><i class="wi wi-direction-down"></i></td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.low.celsius}}<i class="wi wi-degrees"></i></td>
                    </td>
                </tr>
                <tr class="row">
                    <td class="col-md-2 text-center"><i class="wi wi-humidity"></i></td>
                    <td class="col-md-2 text-center" ng-repeat="forecast in forecastWeatherData.forecast.simpleforecast.forecastday | limitTo: 5">
                        {{forecast.pop}}&#37
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</a>
